resources/wsdl/mailService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mail.gkislin.github.com/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://mail.gkislin.github.com/" name="MailServiceImplService">
    <types>
        <xs:schema targetNamespace="http://mail.gkislin.github.com/">

            <xs:import namespace="http://web.common.gkislin.github.com" schemaLocation="common.xsd"/>

            <xs:element name="addressee" type="tns:addressee"/>
            <xs:element name="sendMail" type="tns:sendMail"/>
            <xs:element name="sendMailResponse" type="tns:sendMailResponse"/>

            <xs:complexType name="sendMail">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressee">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="email" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="sendMailResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="sendMail">
        <part name="parameters" element="tns:sendMail"/>
    </message>
    <message name="sendMailResponse">
        <part name="parameters" element="tns:sendMailResponse"/>
    </message>
    <message name="WebStateException">
        <part name="fault" element="tns:webStateException"/>
    </message>
    <portType name="MailService">
        <operation name="sendMail">
            <input wsam:Action="http://mail.gkislin.github.com/MailService/sendMailRequest" message="tns:sendMail"/>
            <output wsam:Action="http://mail.gkislin.github.com/MailService/sendMailResponse"
                    message="tns:sendMailResponse"/>
            <fault message="tns:WebStateException" name="WebStateException"
                   wsam:Action="http://mail.gkislin.github.com/MailService/sendMail/Fault/WebStateException"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendMail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>